body {
  background-image: linear-gradient(to bottom, black, blue);
  text-align: center;
  color: white;
  font-family: tahoma;
}

h1 {
  color: #ff4242;
  font-family: monaco;
  text-shadow: 1.5px 1.5px #ffffff;
}

h2 {
  color: #ffff00;
  font-family: monaco;
  text-shadow: 1.5px 1.5px #ff0000;
}

#not-hidden {
  color: #dddd00;
}

#not-hidden:hover {
  color: #00dd00;
}

#hidden-one, #hidden-two {
  color: #ffff00;
  font-family: monaco;
  text-shadow: 1.5px 1.5px #ff0000;
  text-decoration: none;
}

#hidden-one:hover, #hidden-two:hover {
  color: #ff0000;
  text-shadow: 1.5px 1.5px #ffff00;
}

table, th, td {
  border: 1px solid white;
  margin-left: auto;
  margin-right: auto;
  background: linear-gradient(to bottom, #081cc5, #0a21e8);
}

th {
  background: red;
  font-weight: normal;
}

table {
  background: red;
  border-collapse: collapse;
}

img {
  width: 55%;
}
