body {
  background-image: linear-gradient(to bottom, black, blue);
  text-align: center;
  color: white;
  font-family: tahoma;
}

h1 {
  color: #FF4242;
  font-family: monaco;
}

h2 {
  color: #FFFF00;
  font-family: monaco;
}

a {
  color: #dddd00;
}

a:hover {
  color: #00dd00;
}

table, th, td {
  border: 1px solid white;
  margin-left: auto;
  margin-right: auto;
  background: linear-gradient(to bottom, rgb(8,28,197), rgb(10,33,232));
}

th {
  background: red;
  font-weight: normal;
}

table {
  background: red;
  border-collapse: collapse;
}

img {
  width: 55%;
}
